@model LoginUser
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    .wrapper{
        margin-left: 275px;
        text-align: center;
        align-content: center;
        height: 600px;
        width: 600px;
    }
    .middle_wrapper{
            text-align: center;
            align-content: center;
        }
    a{  margin-left: 600px; 
        margin-top: -45px;
        display: inline-block;
    }
</style>
</head>
<body>
    <div class = wrapper>
    <div class = "middle_wrapper">
        <h1>Login to this Cool Site!</h1>
        <a href ="/">Register</a>
        <form action= "/Login" method ="Post">
            <div class="form-group">
            <label for="Email">Login Email:</label>
            <input type="email" class="form-control" name="LoginEmail" placeholder="Please enter your Email.">
            <span asp-validation-for="LoginEmail"></span>
            </div>
            <div class="form-group">
            <label for="Password">Login Password:</label>
            <input type="password" class="form-control" name="LoginPassword" placeholder="Please enter a Password.">
            <span asp-validation-for="LoginPassword"></span>
            <small id="passwordHelp" class="form-text text-muted">Password must be at least 8 characters.</small>
            </div>
            <button type="submit" class="btn btn-dark">Sign up now!</button>
            </form>
        </div>
        </div>
</body>
</html>